<script type="text/template" id="tagscloud-template">
<% _.each(tags, function(tag) { %>
<span class="unselected" style="font-size: <%= tag.size %>px;">
    <%= tag.name %>
</span>
<% }); %>
</script>
