<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block head_title %}{% endblock %}</title>
    {% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}
    {% block head_js %}{% endblock %}
</head>
<body>
{% include "menu.html" %}
<div id="container" class="container">
{% block content %}{% endblock %}
</div>
</body>
</html>
