{% extends "base.html" %}
{% block head_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
{% block content %}
<h1>Cloud</h1>
<div class="row span16">
    <div>
        Filters :
        <span id="tags-filter"></span>
    </div>
    <div id="tagscloud"></div>
</div>
<h1>Bookmarks</h1>
<div id="bookmarks" class="row span16"></div>
<div id="pagination-bookmarks"></div>
<script type="text/javascript">
	require('main');
</script>
{% endblock %}
