{% extends "base.html" %}
{%block head_css %}
<link rel="stylesheet" href="/static/css/bootstrap.css">
<link rel="stylesheet" href="/static/css/bookmark.css">
{% endblock %}
{% block head_js %}
<script type="text/javascript" src="/static/js/jquery-1.6.4.js"></script>
<script type="text/javascript" src="/static/js/json2.js"></script>
<script type="text/javascript" src="/static/js/underscore-1.2.2.js"></script>
<script type="text/javascript" src="/static/js/backbone.js "></script>
<script type="text/javascript" src="/static/js/bookmark.js "></script>
{% endblock %}
{% block content %}
<h1>Cloud</h1>
<div id="tagscloud" class="row span16"></div>
<h1>Bookmarks</h1>
<div id="bookmarks" class="row span16"></div>
{% endblock %}
{% block templates %}
<script type="text/template" id="bookmark-template">
<p><a href="<%= link %>"><%= title %></a></p>
<div>
<%= description %>
</div>
<p>
    <% _.each(tags, function(tag) { %>
        <span><%= tag %></span>,
    <% }); %>
</p>
</script>
<script type="text/template" id="tagscloud-template">
<% _.each(tags, function(tag) { %>
<span style="font-size: <%= tag.size %>px;"><%= tag.name %></span>
<% }); %>
</script>
{% endblock %}
