<div class="topbar">
    <div class="topbar-inner">
        <div class="container">
            <a href="{{ url_for('web.index') }}" class="brand">Bookmark</a>
            <ul class="nav">
                {# <li><a href="#about">About</a></li> #}
                {% if current_user.is_authenticated() %}
                <li>
                    <a href="#" data-controls-modal="bookmark-form-modal" id="add-bookmark">
                        Add a bookmark
                    </a>
                </li>
                <li><a href="{{ url_for("user.logout") }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for("user.login") }}">Login</a></li>
                <li><a href="{{ url_for("user.register") }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
