<div class="topbar">
    <div class="topbar-inner">
        <div class="container">
            <a href="#" class="brand">Bookmark</a>
            <ul class="nav">
                <li class="activae"><a href="#index">Index</a></li>
                <li><a href="#about">About</a></li>
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for("user.logout") }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for("user.login") }}">Login</a></li>
                <li><a href="{{ url_for("user.register") }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
